*.csv
*.xsls
*.xlsx
data/
*.ipynb
.DS_Store
*venv*/
*.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.bak
*.tmp
*egg-info/
*.egg-info/
src/*.egg-info/
.eggs/
deprecated/
*config.toml
!sample_config.toml
*.ignore
build/
deploy.sh